.app {
  text-align: center;
}
h2{
  font-weight: 700;
  margin-top: 20px;
}
input{
  width:300px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid gray;
  margin-top: 20px;
}
.movie-2{
  width: 18rem;
}
span{
  margin-left: 1000px;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  /* bottom: 30; */
}
.app-1{
  width: 25px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50px;
  margin-left: 1300px;
  position:absolute;
  margin-top: 2px;
  text-align: center;

  /* top: -20; */
  
}